.timeline-image {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

.custom-content {
  padding: 8px;
  border: solid 3px silver;
  border-radius: 4px;
  box-sizing: border-box;
}
img {
  width: 500px;
  vertical-align: top;
  float: top;
  margin-right: 10px;
}

.timeline-event-icon {
  min-width: 32px;
  min-height: 32px;
  max-width: 32px;
  max-height: 32px;
  border-radius: 50%;
  background-color: #3f51b5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  line-height: 0;
}

.event-dates-label {
  min-width: 70px;
  display: table-caption;
  text-align: center;
  padding: 2px 8px;
  border-radius: 25px;
  border: solid 3px silver;
  font-size: 12px;
}

.event-type-label {
  min-width: 40px;
  display: table-caption;
  text-align: center;
  padding: 2px 8px;
  border-radius: 14px;
  border: solid 1px black;
  font-size: 12px;
}

.button-row {
  display: table-cell;
  max-width: 600px;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
