<button *ngIf="!isUserLoggedIn()" mat-raised-button (click)="openLoginDialog()">Login</button>

<button *ngIf="isUserLoggedIn()" mat-raised-button (click)="openCreateEvent()">Create Event</button>

<button *ngIf="isUserLoggedIn()" mat-raised-button (click)="logout()">Logout</button>

<div class="content-panel">
      <mat-card>
        <mat-card-content>

          <ngx-mat-timeline
            class="custom-timeline"
            position="center"
            orientation="vertical"
            [reverse]="false"
          >
            <ngx-mat-timeline-item *ngFor="let item of timelineEventList; let idx = index">
              <div
                class="custom-content"
                style="min-width: 350px; max-width: 550px"
              >
                <img [src]=item.img_url  alt="Missing photo"/>

                <div>
                  <mat-card>
                    <mat-card-title>
                      {{item.event_name}}
                    </mat-card-title>
                  </mat-card>
                  <mat-accordion>
                    <mat-expansion-panel hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{item.short_description}}
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      {{item.description}}
                    </mat-expansion-panel>
                  </mat-accordion>
<!--                  <mat-card>-->
<!--                    {{ item.short_description }}-->
<!--                  </mat-card>-->
<!--                  <mat-card>-->
<!--                    {{ item.description }}-->
<!--                  </mat-card>-->
<!--                  <mat-card>-->
<!--                    {{findEventTypeById(item.event_type_id)?.event_type_name}}-->
<!--                    {{item.event_type_id}}-->
<!--                  </mat-card>-->
                  <div class="button-row">
                    <div class="flex-container">
                      <div class="button-container">
                        <button *ngIf="isUserLoggedIn()" mat-mini-fab color="accent" aria-label="Edit"
                                (click)="openEditDialog(item)">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button *ngIf="isUserLoggedIn()" mat-mini-fab color="warn" aria-label="Delete"
                                (click)="openDeleteDialog(item)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                   </div>
                  </div>
                </div>
              </div>

              <ng-template ngxMatTimelineItemIcon>
                <div class="timeline-event-icon" [ngStyle]="{'background': findEventTypeById(item.event_type_id)?.color}">{{ idx + 1 }}</div>
              </ng-template>

              <ng-template ngxMatTimelineItemLabel>
                <div
                  class="event-dates-label">{{ item.event_start_date.toString() }}
                  <div *ngIf="!isEventStartDateEqualToEventEndDate(item)">
                    <div>
                      -
                    </div>
                    <div>
                      {{item.event_end_date.toString()}}
                    </div>
                  </div>
                  <div class="event-type-label">{{findEventTypeById(item.event_type_id)?.event_type_name}}</div>
                </div>
              </ng-template>
            </ngx-mat-timeline-item>
          </ngx-mat-timeline>
        </mat-card-content>
      </mat-card>

</div>
